spring:
  datasource:
    name: rinha-datasource
    url: jdbc:postgresql://localhost:5432/rinhadb
    username: rinha
    password: rinha
    driver-class-name: org.postgresql.Driver

    hikari:
      connection-timeout: ${POOL_DATA_CONNECTION_TIMEOUT:600000}
      minimum-idle: ${POOL_DATA_MINIMUM_IDLE:1}
      maximum-pool-size: ${POOL_DATA_MAXIMUM_POOL_SIZE:150}
      idle-timeout: ${POOL_DATA_IDLE_TIMEOUT:600000}
      max-lifetime: ${POOL_DATA_MAX_LIFE_TIME:600000}
      auto-commit: ${POOL_DATA_AUTO_COMMIT:true}

  cache:
    type: redis

  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      timeout: 60000

server:
  port: 8082